<h1>Veuillez confirmer votre email!</h1>

<p>
    Veuillez confirmer votre adresse mail en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre Email</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Félicitations!
</p>
