<div class="row justify-content-around align-items-center m-0 footer-first">
    <ul class="nav justify-content-center align-items-center social-menu">
        <p class="social">Rejoignez-nous sur :</p>
        <li class="nav-item">
            <a class="nav-link facebook" href="#"><i class="fab fa-facebook fa-3x"></i></a>
        </li> 
        <li class="nav-item">
            <a class="nav-link instagram" href="#"><i class="fab fa-instagram fa-3x"></i></a>
        </li>   
        <li>
            <a class="nav-link twitter" href="#"><i class="fab fa-twitter fa-3x"></i></a>
        </li>   
        <li>
            <a class="nav-link youtube" href="#"><i class="fab fa-youtube fa-3x"></i></a>
        </li>   
    </ul>    
</div>
<footer class="footer">
    <section class="row m-0">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <h6 class="h5 text-center">Les Pierres de Dany</h6>    
                    <hr>              
                    <ul class="list">
                        <li class="mb-3"><a href="#">Moyens de paiement</a></li>
                        <li class="mb-3"><a href="#">Services & Garanties</a></li>
                        <li class="mb-3"><a href="#">Livraison</a></li>
                    </ul>                   
                </div>
                <div class="col-md-4">
                    <h6 class="h5 text-center">Informations</h6>
                    <hr>
                    <ul class="list">
                        <li class="mb-3"><a href="#">Moyens de paiement</a></li>
                        <li class="mb-3"><a href="#">Services & Garanties</a></li>
                        <li class="mb-3"><a href="#">Livraison</a></li>
                    </ul>                 
                </div>
                <div class="col-md-4">
                    <h6 class="h5 text-center">Contactez-nous</h6>
                    <hr>
                    <ul class="list1">
                        <li>Email: mail@site.com</li>
                        <li>Téléphone: 01.12.35.36.98</li>
                        <li>Adresse: 15 Chemin du Cruet</li>
                        <li class="pl-3 ml-5">66000 Claira</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <hr class="bpage">
                <ul class="nav list2">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
                <hr class="bpage">
            </div>
            <p class="text-center">Copyright ©2020 Tous droits réservés par <span class="fab">Diorren Web</span></p>
        </div>
    </section>
</footer>
<script src="https://js.mollie.com/v1/mollie.js"></script>