{% extends 'base.html.twig' %}

{% block title %}Site en maintenance{% endblock %}

{% block body %}
    <div class="container jumbotron maintenance">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="textMaint">Veuillez nous en excuser le site est en maintenance !</h1>
            </div>
        </div>   
    </div>        
{% endblock %}
