{% extends 'users/base.html.twig' %}

{% block title 'Paiement' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Récapitulatif de votre commande N°  </h1>     
      </div>
    </div>
  </div>
{% endblock %}