{% extends "base.html.twig" %}

{% block title %}Serveur - Erreur 505{% endblock %}

{% block body %}

<main class="container text-center mt-3">
    <h1>Erreur de serveur interne !</h1>
    
    <h2 class="h4 mt-3">
    Le serveur a rencontré une erreur interne qui l’a empêché de satisfaire la requête ou le délai
    de réponse est dépassé !
    </h2>    
   
    <div class="text-center mt-3 mb-3">
        <a href="{{ path('app_home') }}" class="btn btn-dark">Retour à l'accueil</a>
    </div>
</main>

{% endblock %}